<%#
    CONTROLLER: homepage
    VIEW: /homepage/about
    PROGRAMMER: Hsieh, Tzuchun
    PURPOSE: show about-us for this project
%>

<div class="bg">
	<div class="container about-us">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 about-box">
				<h1>About Us</h1>
				<div class="col-lg-10 offset-lg-1">
					<p>Course selection is a stage in universities where students have to decide their own path of
					reaching academic goals. Sometimes it is difficult to choose the course that best suits
					students’ academic demands.<br><br>
					Course Martini, is a platform for students to share their own experiences
					on different courses CUHK provides. The reviews provided will guide others on course selecting
					decisions to
					improve the overall quality of their academic experience during the studying period.</p><br><br>
					<%# Link to contact-us page%>
					<p style="text-align:right"><a href='/homepage/contact'>Contact us here!<a></p>
				</div>
			</div>
		</div>					
	</div>
</div>