<div class="page-header" style="text-align: center;">
    <br>
    <h1>About Us</h1><br><br>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <p> Something about this website, will modify later with a slightly larger paragraph. The map api's size will be determined later, too</p>
    <br><br>
    <iframe 
      width="300" 
      height="200" 
      frameborder="0" 
      style="border:0" 
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA_2L2pAuN6wOKKHmbGl6nlVkz27AoEKQg&q=The+Chinese+University+of+Hong+Kong&zoom=14&center=22.3793739,114.1917455" 
      allowfullscreen>
  </iframe>
  <div class="col-md-2"></div>
</div>
</div>