<div class="bg">
	<div class="container about-us">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 about-box">
				<h1>Contact Us</h1>
				<div class="row" style="margin-bottom:50px">
					<div class="col-lg-6 offset-lg-1">
						<p> Course Martini Office<br>
							Department of Computer Science and Engineering<br>
							Ho Sin-Hang Engineering Building<br>
							The Chinese University of Hong Kong<br>
							Shatin, New Territories, Hong Kong SAR<br><br>
						</p>
						<p>Email: martini@cse.cuhk.edu.hk</p>
						<p>Tel: &nbsp&nbsp&nbsp(852)3943-3100</p>
						<p>Fax: &nbsp&nbsp(852)2603-3100</p>
					</div>
					<div class="col-lg-4">
						<iframe width="100%" height="400" frameborder="0" style="border:0"
							src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA_2L2pAuN6wOKKHmbGl6nlVkz27AoEKQg&q=The+Chinese+University+of+Hong+Kong&zoom=14&center=22.3793739,114.1917455"
							allowfullscreen>
						</iframe>
					</div>	
				</div>
			</div>
		</div>					
	</div>
</div>