<div class="container">
	<div class="row">
		<div class="about" style="margin-bottom:200px">
				<br><br>
				<h1 id="about-us" style="margin-bottom:50px">Contact Us</h1>
				<div class="row">
					<div class="col-lg-7">
						<p> Course Martini Office<br>
							Department of Computer Science and Engineering<br>
							Ho Sin-Hang Engineering Building<br>
							The Chinese University of Hong Kong<br>
							Shatin, New Territories, Hong Kong SAR<br><br>
						</p>
						<p>Email: coursemartini@csci.com</p>
						<p>Tel: &nbsp&nbsp&nbsp(852)3943-3100</p>
						<p>Fax: &nbsp&nbsp(852)2603-3100</p>
					</div>
					<div class="col-lg-5">
						<iframe width="100%" height="400" frameborder="0" style="border:0"
							src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA_2L2pAuN6wOKKHmbGl6nlVkz27AoEKQg&q=The+Chinese+University+of+Hong+Kong&zoom=14&center=22.3793739,114.1917455"
							allowfullscreen>
						</iframe>
					</div>	
				</div>					
		</div>
	</div>
</div>