<div class="page-header" style="text-align: center;">
    <br>
    <h1>Search your course!</h1><br><br>
</div>
<style>
.form-control.sub:focus {
   border-bottom: 2px solid #38b9ca;
   box-shadow: 0px 3px 1px 0.2px #3fbdce;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form class="input-group md-form form-sm form-2 pl-0" action="">
                    <input class="form-control sub my-0 py-1" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-info my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
                    </div>
            </form>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>No idea what to search? Maybe you can view by faculty</p>
            <p>faculty choices will be installed later</p>
            <br><br>
            <a href="/admin/user_table">Template of an admin page viewing all user datas to test the sign-up function, hyperlink will be removed later</a>
        </div>
    </div>
    
</div>
