
    <button class="user_box" onclick="location.href ='/admin/user_table';">
        <p>Manage Users</p>
    </button>
    <button class="course_box" onclick="location.href ='/courses';">
        <p>Manage Courses</p>
    </button>
