<%#
    CONTROLLER: devise-users
    VIEW: /users/password/edit
    PROGRAMMER: Hsieh, Tzuchun
    PURPOSE: displays the form for user to edit password
%>
<div class="bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="col-lg-6 offset-lg-3">
					<%# Input form layout%>
					<div class="user_form" style="margin-top: 100px">
						<h2 style="margin-bottom:-30px"><strong>Change your password</strong></h2>
						<div class="col-lg-8 offset-lg-2">
							<%# Form with authenticity token%>
							<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
							<br><br>
							<%# Show error if something is wrong with the input%>
							<% if @user.errors.any? %>
								<div class="alert alert-danger" role="alert">
									<p>Invalid password or passwords does not match</p>
								</div>
							<%end%>
							<%# Hidden token for security issues %>
							<%= f.hidden_field :reset_password_token %>
							<div class="form-group">
								<%= f.password_field :password, class: 'form-control', placeholder: 'password (length: 6~20)'%>
							</div>
							<div class="form-group">
								<%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation'%>
							</div>
							<br><br>
							<div class="actions">
								<button type="submit" name="commit" class="btn btn-primary btn-lg btn-block" data-disable-with="Change my password">Change my password</button>
							</div>
							<% end %>
							<br><br><br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>