<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="col-lg-6 offset-lg-3">
                    <div class="user_form" style="margin-top: 100px">
                        <h2 style="margin-bottom:-30px"><strong>Forgot password?</strong></h2>
                        <div class="col-lg-8 offset-lg-2">
                            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                            <br><br>
                            <% if @user.errors.any? %>
                            <div class="alert alert-danger" role="alert">
                                <p>Please enter the correct email</p>
                            </div>
                            <%end%>
                            <div class="form-group">
                                <p style="font-size:14px; padding:0px 2px; margin-bottom:-10px">Enter your account's
                                    email address,
                                    and we will send a password reset link.</p>
                                <%= f.text_field :email, class: 'form-control', placeholder: 'example@gmail.com'%>
                            </div>
                            <br><br>
                            <%= f.button "Send" , class: 'btn btn-primary btn-lg btn-block' %>
                            <% end %>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>