<%#
    VIEW for proposal edit page
    PROGRAMMER: Zhou Jinan
    VERSION: last update Apr 15, 2020
    PURPOSE: displays the form to edit proposals.
%>


<h1>Editing Proposal</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%# 1 of 3 %>
    </div>
    <%# the central row: where the form is displayed %>
    <div class="col-6">
      <%= render 'form', proposal: @proposal %>

      <%= link_to 'Show', @proposal %>
    </div>
    <div class="col">
      <%# 3 of 3 %>
    </div>
  </div>
  
</div>

<br>