<h1>New Proposal</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%# 1 of 3 %>
    </div>
    <div class="col-6">
      <%# 2 of 3 (wider) %>
      <%= render 'form', proposal: @proposal %>

      <%= link_to 'Back', random_path %>
    </div>
    <div class="col">
      <%# 3 of 3 %>
    </div>
  </div>

</div>
<br>