<%#
    VIEW for course new page
    PROGRAMMER: Zhou Jinan
    VERSION: last update Apr 15, 2020
    PURPOSE: displays the form to create courses.
%>



<h1>New Course</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%# 1 of 3 %>
    </div>
    <div class="col-6">
      <%# 2 of 3 (wider) %>
      <%= render 'form', course: @course %>
      <%if @flag==1%>
        <%= link_to 'Back', proposals_path%>
      <%else%>
        <%= link_to 'Back', courses_path %>
      <%end%>
    </div>
    <div class="col">
      <%# 3 of 3 %>
    </div>
  </div>

</div>